
/*//////////////////////////
// CALCULADOR DE AREAS - BEGINS
//////////////////////////*/

.numHeight {
    max-width: 50px !important;
}

.numWidth {
    max-width: 50px !important;
}

.numEqualInstallations {
    max-width: 50px !important;
}

.numExtraTubos {
    max-width: 50px !important;
}


.resultsTableCalcAreas {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    
    table-layout:fixed;
    /*padding-right:10px;*/
}

.resultsTableCalcAreas th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.resultsTableCalcAreas td, .resultsTableCalcAreas th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.resultsTableCalcAreas tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.resultsTableCalcAreas tr:nth-child(even) {
    background-color: #D1D7E7;
}

.lblReqInstallationType, .lblReqNumHeight, .lblReqNumWidth, .lblReqNumEqualInstallations, .lblReqNumExtraTubos {
    color: red;
    font-family: Calibri;
    display: none;
}

.ui-disabled {
    width: 20px;
}

/*//////////////////////////
// CALCULADOR DE AREAS - ENDS
//////////////////////////*/

/*//////////////////////////
// CAPACIDAD REPRODUCTIVA MOSCAS - BEGINS
//////////////////////////*/

/*MOSCA DOMESTICA*/

.tableReproduccionDomestica {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    display: none;
    /*padding-right:10px;*/
}

.tableReproduccionDomestica th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableReproduccionDomestica td, .tableReproduccionDomestica th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableReproduccionDomestica tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableReproduccionDomestica tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableReproduccionDomestica td {
    padding:0 2em 0 2em;
}

.domesticaRepTableForm td {
    padding:0 3em 0 3em;
}

.domesticaRepDias, .domesticaRepHuevos, .domesticaRepSuper {
    max-width: 60px !important;
}

.lblReqDomesticaRepDias, .lblReqDomesticaRepHuevos, .lblReqDomesticaRepSuper {
    color: red;
    font-family: Calibri;
    display: none;
}

/*MOSCA ESTABLO*/

.tableReproduccionEstablo {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    display: none;
    /*padding-right:10px;*/
}

.tableReproduccionEstablo th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableReproduccionEstablo td, .tableReproduccionEstablo th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableReproduccionEstablo tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableReproduccionEstablo tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableReproduccionEstablo td {
    padding:0 2em 0 2em;
}

.establoRepTableForm td {
    padding:0 3em 0 3em;
}

.establoRepDias, .establoRepHuevos, .establoRepSuper {
    max-width: 60px !important;
}

.lblReqEstabloRepDias, .lblReqEstabloRepHuevos, .lblReqEstabloRepSuper {
    color: red;
    font-family: Calibri;
    display: none;
}

/*MOSCA CUERNO*/

.tableReproduccionCuerno {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    display: none;
    /*padding-right:10px;*/
}

.tableReproduccionCuerno th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableReproduccionCuerno td, .tableReproduccionCuerno th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableReproduccionCuerno tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableReproduccionCuerno tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableReproduccionCuerno td {
    padding:0 2em 0 2em;
}

.cuernoRepTableForm td {
    padding:0 3em 0 3em;
}

.cuernoRepDias, .cuernoRepHuevos, .cuernoRepSuper {
    max-width: 60px !important;
}

.lblReqCuernoRepDias, .lblReqCuernoRepHuevos, .lblReqCuernoRepSuper {
    color: red;
    font-family: Calibri;
    display: none;
}

/*MOSCA CARA*/

.tableReproduccionCara {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    display: none;
    /*padding-right:10px;*/
}

.tableReproduccionCara th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableReproduccionCara td, .tableReproduccionCara th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableReproduccionCara tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableReproduccionCara tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableReproduccionCara td {
    padding:0 2em 0 2em;
}

.caraRepTableForm td {
    padding:0 3em 0 3em;
}

.caraRepDias, .caraRepHuevos, .caraRepSuper {
    max-width: 60px !important;
}

.lblReqCaraRepDias, .lblReqCaraRepHuevos, .lblReqCaraRepSuper {
    color: red;
    font-family: Calibri;
    display: none;
}

/*//////////////////////////
// CAPACIDAD REPRODUCTIVA MOSCAS - ENDS
//////////////////////////*/
