
/*//////////////////////////
// CALCULADOR DE AREAS - BEGINS
//////////////////////////*/

.numHeight {
    max-width: 50px !important;
}

.numWidth {
    max-width: 50px !important;
}

.numEqualInstallations {
    max-width: 50px !important;
}

.numExtraTubos {
    max-width: 50px !important;
}

.resultsTableCalcAreas {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    
    table-layout:fixed;
    /*padding-right:10px;*/
}

.resultsTableCalcAreas th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.resultsTableCalcAreas td, .resultsTableCalcAreas th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.resultsTableCalcAreas tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.resultsTableCalcAreas tr:nth-child(even) {
    background-color: #D1D7E7;
}

.lblReqInstallationType, .lblReqNumHeight, .lblReqNumWidth, .lblReqNumEqualInstallations, .lblReqNumExtraTubos {
    display: none;
    padding-top: 0.5em;
    padding-left: 0.2em;
    font-size: x-large;
    color: #e32;
}

.ui-disabled {
    width: 20px;
}

/*//////////////////////////
// CALCULADOR DE AREAS - ENDS
//////////////////////////*/

/*//////////////////////////
// CAPACIDAD REPRODUCTIVA MOSCAS - BEGINS
//////////////////////////*/

/*MOSCA DOMESTICA*/

.tableReproduccionDomestica {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    display: none;
    /*padding-right:10px;*/
}

.tableReproduccionDomestica th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableReproduccionDomestica td, .tableReproduccionDomestica th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableReproduccionDomestica tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableReproduccionDomestica tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableReproduccionDomestica td {
    padding:0 2em 0 2em;
}

.domesticaRepTableForm td {
    padding:0 3em 0 3em;
}

.domesticaRepDias, .domesticaRepHuevos, .domesticaRepSuper {
    max-width: 60px !important;
}

.lblReqDomesticaRepDias, .lblReqDomesticaRepHuevos, .lblReqDomesticaRepSuper {
    display: none;
    padding-top: 0.5em;
    padding-left: 0.2em;
    font-size: xx-large;
    color: #e32;
}

/*MOSCA ESTABLO*/

.tableReproduccionEstablo {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    display: none;
    /*padding-right:10px;*/
}

.tableReproduccionEstablo th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableReproduccionEstablo td, .tableReproduccionEstablo th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableReproduccionEstablo tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableReproduccionEstablo tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableReproduccionEstablo td {
    padding:0 2em 0 2em;
}

.establoRepTableForm td {
    padding:0 3em 0 3em;
}

.establoRepDias, .establoRepHuevos, .establoRepSuper {
    max-width: 60px !important;
}

.lblReqEstabloRepDias, .lblReqEstabloRepHuevos, .lblReqEstabloRepSuper {
    display: none;
    padding-top: 0.5em;
    padding-left: 0.2em;
    font-size: xx-large;
    color: #e32;
}

/*MOSCA CUERNO*/

.tableReproduccionCuerno {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    display: none;
    /*padding-right:10px;*/
}

.tableReproduccionCuerno th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableReproduccionCuerno td, .tableReproduccionCuerno th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableReproduccionCuerno tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableReproduccionCuerno tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableReproduccionCuerno td {
    padding:0 2em 0 2em;
}

.cuernoRepTableForm td {
    padding:0 3em 0 3em;
}

.cuernoRepDias, .cuernoRepHuevos, .cuernoRepSuper {
    max-width: 60px !important;
}

.lblReqCuernoRepDias, .lblReqCuernoRepHuevos, .lblReqCuernoRepSuper {
    display: none;
    padding-top: 0.5em;
    padding-left: 0.2em;
    font-size: xx-large;
    color: #e32;
}

/*MOSCA CARA*/

.tableReproduccionCara {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    display: none;
    /*padding-right:10px;*/
}

.tableReproduccionCara th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableReproduccionCara td, .tableReproduccionCara th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableReproduccionCara tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableReproduccionCara tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableReproduccionCara td {
    padding:0 2em 0 2em;
}

.caraRepTableForm td {
    padding:0 3em 0 3em;
}

.caraRepDias, .caraRepHuevos, .caraRepSuper {
    max-width: 60px !important;
}

.lblReqCaraRepDias, .lblReqCaraRepHuevos, .lblReqCaraRepSuper {
    display: none;
    padding-top: 0.5em;
    padding-left: 0.2em;
    font-size: xx-large;
    color: #e32;
}

/*//////////////////////////
// CAPACIDAD REPRODUCTIVA MOSCAS - ENDS
//////////////////////////*/


/*//////////////////////////
// DOSIFICACION RABON - BEGINS
//////////////////////////*/

/* DOSIFICACION RABON*/

.rabon-general thead th,
.rabon-general tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.rabon-general tbody th,
.rabon-general tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.rabon-general tbody tr:last-child th,
.rabon-general tbody tr:last-child td {
    border-bottom: 0;
}

.rabon-general tbody tr:nth-child(odd) td,
.rabon-general tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}

.rabon-general th {
    width: 30%;
}

.reqTxtExplotacionNombre, .reqTxtExplotacionContacto, .reqTxtRabonFecha, .reqTxtBayerAsesor {
    display: inline-block;
    padding-top: 0.5em;
    font-size: xx-large;
    color: #e32;
}

.divInternalForInputs {
    display: inline-flex;
}

.rabonNoAnimales, .rabonPesoAnimal, .rabonPrecio, .rabonAlimentoFinal-Kg,
.rabonSalComun-g {
    max-width: 70px !important;
}

.reqRabonNoAnimales, .reqRabonPesoAnimal, .reqRabonPrecio, .reqRabonAlimentoFinal-Kg, 
.reqRabonSalComun-g {
    display: inline-block;
    padding-top: 0.5em;
    padding-left: 0.2em;
    font-size: xx-large;
    color: #e32;
}

.tableRabonDose-1 {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

.tableRabonDose-1 th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableRabonDose-1 td, .tableRabonDose-1 th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableRabonDose-1 tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableRabonDose-1 tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableRabonDose-2 {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

.tableRabonDose-2 th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableRabonDose-2 td, .tableRabonDose-2 th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableRabonDose-2 tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableRabonDose-2 tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableRabonDose-2 th:first-child {
    width: 50%;
}

/* COSTO BENEFICIO GANADO DE CARNE*/

.carne-general-table thead th,
.carne-general-table tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.carne-general-table tbody th,
.carne-general-table tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.carne-general-table tbody tr:last-child th,
.carne-general-table tbody tr:last-child td {
    border-bottom: 0;
}

.carne-general-table tbody tr:nth-child(odd) td,
.carne-general-table tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}

.carne-general-table th {
    width: 30%;
}

.reqTxtCarneExplotacionNombre, .reqTxtCarneExplotacionContacto, .reqTxtCarneRabonFecha, .reqTxtCarneBayerAsesor {
    display: inline-block;
    padding-top: 0.5em;
    font-size: xx-large;
    color: #e32;
}

.tableRabonCarne-1 {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

.tableRabonCarne-1 th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableRabonCarne-1 td, .tableRabonCarne-1 th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableRabonCarne-1 tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableRabonCarne-1 tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableRabonCarne-1 .headTableTd {
    background: #4F81BC;
    font-weight: normal;
    padding: 0;
    color: white;
}

.tableRabonCarne-1 .footerTableTd {
    background: white !important;
    font-weight: normal !important;
    padding: 0 !important;
    color: #4F81BC !important;
    text-align: right !important;
}

.carnePerdidaGramos, .carnePrecioMercado, .carneDiasTratamiento {
    max-width: 70px !important;
}

.reqCarnePerdidaGramos, .reqCarnePrecioMercado, .reqCarneDiasTratamiento {
    display: inline-block;
    padding-top: 0.5em;
    padding-left: 0.2em;
    font-size: xx-large;
    color: #e32;
}

.tableRabonCarne-2 {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

.tableRabonCarne-2 th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableRabonCarne-2 td, .tableRabonCarne-2 th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableRabonCarne-2 tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableRabonCarne-2 tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableRabonCarne-2 .headTableTd {
    background: #4F81BC;
    font-weight: normal;
    padding: 0;
    color: white;
}

.tableRabonCarne-2 .footerTableTd {
    background: white !important;
    font-weight: normal !important;
    padding: 0 !important;
    color: #4F81BC !important;
    text-align: right !important;
}


.tableRabonCarne-3 {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

.tableRabonCarne-3 th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableRabonCarne-3 td, .tableRabonCarne-3 th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableRabonCarne-3 tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableRabonCarne-3 tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableRabonCarne-3 .headTableTd {
    background: #4F81BC;
    font-weight: normal;
    padding: 0;
    color: white;
}

.tableRabonCarne-3 .footerTableTd {
    background: white !important;
    font-weight: normal !important;
    padding: 0 !important;
    color: #4F81BC !important;
    text-align: right !important;
}


.tableRabonCarne-4 {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

.tableRabonCarne-4 th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableRabonCarne-4 td, .tableRabonCarne-4 th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableRabonCarne-4 tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableRabonCarne-4 tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableRabonCarne-4 .headTableTd {
    background: #4F81BC;
    font-weight: normal;
    padding: 0;
    color: white;
}

.tableRabonCarne-4 .footerTableTd {
    background: white !important;
    font-weight: normal !important;
    padding: 0 !important;
    color: #4F81BC !important;
    text-align: justify !important;
}

/* COSTO BENEFICIO GANADO DE LECHE*/

.leche-general-table thead th,
.leche-general-table tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.leche-general-table tbody th,
.leche-general-table tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.leche-general-table tbody tr:last-child th,
.leche-general-table tbody tr:last-child td {
    border-bottom: 0;
}

.leche-general-table tbody tr:nth-child(odd) td,
.leche-general-table tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}

.leche-general-table th {
    width: 30%;
}

.reqTxtLecheExplotacionNombre, .reqTxtLecheExplotacionContacto, .reqTxtLecheRabonFecha, .reqTxtLecheBayerAsesor {
    display: inline-block;
    padding-top: 0.5em;
    font-size: xx-large;
    color: #e32;
}

.tableRabonLeche-1 {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

.tableRabonLeche-1 th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableRabonLeche-1 td, .tableRabonLeche-1 th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableRabonLeche-1 tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableRabonLeche-1 tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableRabonLeche-1 .headTableTd {
    background: #4F81BC;
    font-weight: normal;
    padding: 0;
    color: white;
}

.tableRabonLeche-1 .footerTableTd {
    background: white !important;
    font-weight: normal !important;
    padding: 0 !important;
    color: #4F81BC !important;
    text-align: right !important;
}

.lechePerdidaGramos, .lechePrecioMercado, .lecheDiasTratamiento {
    max-width: 70px !important;
}

.reqLechePerdidaLitros, .reqLechePrecioMercado, .reqLecheDiasTratamiento {
    display: inline-block;
    padding-top: 0.5em;
    padding-left: 0.2em;
    font-size: xx-large;
    color: #e32;
}

.tableRabonLeche-2 {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

.tableRabonLeche-2 th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableRabonLeche-2 td, .tableRabonLeche-2 th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableRabonLeche-2 tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableRabonLeche-2 tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableRabonLeche-2 .headTableTd {
    background: #4F81BC;
    font-weight: normal;
    padding: 0;
    color: white;
}

.tableRabonLeche-2 .footerTableTd {
    background: white !important;
    font-weight: normal !important;
    padding: 0 !important;
    color: #4F81BC !important;
    text-align: right !important;
}

.tableRabonLeche-3 {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

.tableRabonLeche-3 th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableRabonLeche-3 td, .tableRabonLeche-3 th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableRabonLeche-3 tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableRabonLeche-3 tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableRabonLeche-3 .headTableTd {
    background: #4F81BC;
    font-weight: normal;
    padding: 0;
    color: white;
}

.tableRabonLeche-3 .footerTableTd {
    background: white !important;
    font-weight: normal !important;
    padding: 0 !important;
    color: #4F81BC !important;
    text-align: right !important;
}

.tableRabonLeche-4 {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

.tableRabonLeche-4 th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.tableRabonLeche-4 td, .tableRabonLeche-4 th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.tableRabonLeche-4 tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.tableRabonLeche-4 tr:nth-child(even) {
    background-color: #D1D7E7;
}

.tableRabonLeche-4 .headTableTd {
    background: #4F81BC;
    font-weight: normal;
    padding: 0;
    color: white;
}

.tableRabonLeche-4 .footerTableTd {
    background: white !important;
    font-weight: normal !important;
    padding: 0 !important;
    color: #4F81BC !important;
    text-align: justify !important;
}

/*//////////////////////////
// DOSIFICACION RABON - ENDS
//////////////////////////*/


/*//////////////////////////
// IMPACTO ECONOMICO MOSCAS - BEGINS
//////////////////////////*/

.impacto-moscas-general-table thead th,
.impacto-moscas-general-table tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.impacto-moscas-general-table tbody th,
.impacto-moscas-general-table tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.impacto-moscas-general-table tbody tr:last-child th,
.impacto-moscas-general-table tbody tr:last-child td {
    border-bottom: 0;
}

.impacto-moscas-general-table tbody tr:nth-child(odd) td,
.impacto-moscas-general-table tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}

.impacto-moscas-general-table th {
    width: 30%;
}

.reqImpactoMoscasEstablo, .reqImpactoMoscasVacas, .reqImpactoMoscasProduccion, .reqImpactoMoscasDisminucion,
 .reqImpactoMoscasPrecioLeche, .reqImpactoMoscasDias {
    display: inline-block;
    padding-top: 0.5em;
    padding-left: 0.2em;
    font-size: xx-large;
    color: #e32;
}

.impactoMoscasVacas, .impactoMoscasProduccion, .impactoMoscasDisminucion, .impactoMoscasPrecioLeche, .impactoMoscasDias {
    max-width: 70px !important;
}

.impactoMoscasEstablo {
    width: 30em !important;
}

.resultsImpactoMoscasTable {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    display: none;
    /*padding-right:10px;*/
}

.resultsImpactoMoscasTable th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

.resultsImpactoMoscasTable td, .resultsImpactoMoscasTable th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 3px;
}

.resultsImpactoMoscasTable tr:nth-child(odd) {
    background-color: #E9ECF5;
}

.resultsImpactoMoscasTable tr:nth-child(even) {
    background-color: #D1D7E7;
}

.resultsImpactoMoscasTable td {
    padding:0 2em 0 2em;
}


/*//////////////////////////
// IMPACTO ECONOMICO MOSCAS - ENDS
//////////////////////////*/
