
/*
div {
    text-align: center;
}*/

img{
    width:85%;
}

#divForm {

    text-align: left;
}

/*
************************************************************************************************
TIPOS
************************************************************************************************
*/

/*
************************************************
HÁBITOS DE LAS MOSCAS
************************************************
*/

.div_habitos_moscas{
    padding: 15px;
}

.h1_habitos_moscas{
    font-family: Calibri;
    text-align:center;
}

table.table_habitos_moscas {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

table.table_habitos_moscas th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

table.table_habitos_moscas td, table.table_habitos_moscas th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 5px;
}

table.table_habitos_moscas tr:nth-child(odd) {
    background-color: #E9ECF5;
}

table.table_habitos_moscas tr:nth-child(even) {
    background-color: #D1D7E7;
}

table.table_habitos_moscas img {
    width:65%;
}


@media only screen and (max-width: 640px) {
	table.table_habitos_moscas {
        font-family: Calibri;
        font-size: 12px;
    }

    .h1_habitos_moscas{
        font-size: 20px;
    }
}

/*
************************************************
CICLO DE VIDA DE LAS MOSCAS
************************************************
*/

.h1_ciclo_vida_moscas{
    font-family: Calibri;
    text-align:center;
}

.div_ciclo_vida_moscas{
    text-align: center;
}

.div_ciclo_vida_moscas img{
    width:75%;
}

@media only screen and (max-width: 640px) {
    .h1_ciclo_vida_moscas{
        font-size: 20px;
    }
}

/*
************************************************
CARACTERÍSTICAS DEL CICLO DE VIDA DE LAS MOSCAS
************************************************
*/

.div_caracteristicas_ciclo_vida_moscas{
    padding: 15px;
}

.h1_caracteristicas_ciclo_vida_moscas{
    font-family: Calibri;
    text-align:center;
}

table.table_caracteristicas_ciclo_vida_moscas {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
     padding-right:10px;
}

table.table_caracteristicas_ciclo_vida_moscas th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

table.table_caracteristicas_ciclo_vida_moscas td, table.table_caracteristicas_ciclo_vida_moscas th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 5px;
}

table.table_caracteristicas_ciclo_vida_moscas tr:nth-child(odd) {
    background-color: #E9ECF5;
}

table.table_caracteristicas_ciclo_vida_moscas tr:nth-child(even) {
    background-color: #D1D7E7;
}

table.table_caracteristicas_ciclo_vida_moscas img {
    width:65%;
}

@media only screen and (max-width: 640px) {
	table.table_caracteristicas_ciclo_vida_moscas {
        font-family: Calibri;
        font-size: 12px;
    }

    .h1_caracteristicas_ciclo_vida_moscas{
        font-size: 20px;
    }
}


/***************************************
*********Styles for tables 5************
***************************************/

@media screen and (max-width: 64em) {
    /* Style the first cell in a row in a dark bar */
    .table_caracteristicas_ciclo th:first-child {
        color: #fff;
        background-color: #555;
        font-size: 1.2em;
        padding: .3em .6em .3em .6em;
        -webkit-text-shadow: none;
        -moz-text-shadow: none;
        text-shadow: none;
    }
    
    /* Hide the label in the first cell */
    .table_caracteristicas_ciclo th:first-child .ui-table-cell-label {
        display: none;
    }
}

/* Media query to show as a standard table at wider widths, must be very wide for this table */
@media screen and (min-width: 64em) {
    /* Show the table header rows */
    .table_caracteristicas_ciclo td,
    .table_caracteristicas_ciclo th,
    .table_caracteristicas_ciclo tbody th,
    .table_caracteristicas_ciclo tbody td,
    .table_caracteristicas_ciclo thead td,
    .table_caracteristicas_ciclo thead th {
        display: table-cell;
        margin: 0;
    }
    
    /* Hide the labels in each cell */
    .table_caracteristicas_ciclo td .ui-table-cell-label,
    .table_caracteristicas_ciclo th .ui-table-cell-label {
        display: none;
    }
}

/*
************************************************************************************************
PRODUCTOS BAYER
************************************************************************************************
*/

.bayer_product_main_name{
    color: #234D8A;
    font-weight: bold;
    font-size: 22px;
}

.bayer_product_main_name sup{
    font-size: 11px;
    font-style: italic;
}

.bayer_product_registry{
    font-size: 15px;
    font-weight: bold;
}

.bayer_product_property{
    font-style: italic;
}

.bayer_product_content_name{
    color: #234D8A;
    font-weight: bold;
}

.bayer_product_content_name sup{
    font-size: 10px;
    font-style: italic;
}

body, html {
    height: 100%;
    margin: 0px;
  }

.div_img_product_bayofly {
    position: relative;
    background-image: url("../../../images/moscas/productos.bayer/bayofly.png");
    background-position: center top;
    background-size: 100% 100%;
    padding-bottom:100%;
    background-repeat:no-repeat;
  }

.div_img_product_baycidal{
    position: relative;
    background-image: url("../../../images/moscas/productos.bayer/baycidal.png");
    background-position: center top;
    background-size: 100% 100%;
    padding-bottom:100%;
    background-repeat:no-repeat;
}

.div_img_product_rabon_97_3{
    position: relative;
    background-image: url("../../../images/moscas/productos.bayer/rabon.97.3.png");
    background-position: center top;
    background-size: 100% 100%;
    padding-bottom:100%;
    background-repeat:no-repeat;
}

.div_img_product_quickbayt{
    position: relative;
    background-image: url("../../../images/moscas/productos.bayer/quickbayt.png");
    background-position: center top;
    background-size: 100% 100%;
    padding-bottom:100%;
    background-repeat:no-repeat;
}

.div_img_product_milk_production{
    position: relative;
    background-image: url("../../../images/moscas/material.adicional/flies.milk.production.png");
    background-position: center top;
    background-size: 100% 100%;
    padding-bottom:100%;
    background-repeat:no-repeat;
}


/******************************************************************
PROPUESTA IPPA 01 - BEGINS
********************************************************************/

@media only screen and (min-width: 1024px) {
    
    #internalDiv {
        padding: 80px;
    }
    
    /**
    * Position icons into circle (SO)
    * http://stackoverflow.com/q/12813573/1397351 
    */
    .circle-container {
        position: relative;
        width: 30em;
        height: 30em;
        border: dashed 1px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .circle-container a {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 50%; left: 50%;
        width: 4em; height: 4em;
        margin: -2em;
    }

    .circle-container img { display: block; width: 100%; }
    .deg0 { transform: translate(15em); }
    .deg36 { transform: rotate(36deg) translate(15em) rotate(-36deg); }
    .deg72 { transform: rotate(72deg) translate(15em) rotate(-72deg); }
    .deg108 { transform: rotate(108deg) translate(15em) rotate(-108deg); }
    .deg144 { transform: rotate(144deg) translate(15em) rotate(-144deg); }
    .deg180 { transform: translate(-15em); }
    .deg216 { transform: rotate(216deg) translate(15em) rotate(-216deg); }
    .deg252 { transform: rotate(252deg) translate(15em) rotate(-252deg); }
    .deg288 { transform: rotate(288deg) translate(15em) rotate(-288deg); }
    .deg324 { transform: rotate(324deg) translate(15em) rotate(-324deg); }
    
    /* this is just for showing the angle on hover */
    .circle-container a:not(.center):before {
        position: absolute;
        width: 4em;
        color: white;
        opacity: 0;
        background: rgba(0,0,0,.5);
        font: 1.25em/3.45 Courier, monospace;
        letter-spacing: 2px;
        text-decoration: none;
        text-indent: -2em;
        text-shadow: 0 0 .1em deeppink;
        transition: .7s; /* only works in Firefox */
        content: attr(class)'°';
    }

    .circle-container a:hover:before { opacity: 1; }
    
    /***********************************************/
    
    .boxModalLeft {
        display: none;
        width: 20%;
        margin: 0 auto;
        background: rgba(87,87,87,0.45);
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 20px/10px;
        background-clip: padding-box;
        text-align: center;
        position: absolute;
        transform: rotate(150deg) translate(-50em) rotate(-150deg) translate(-44em);
        height: 400px;
        overflow-y: auto;
        top: 65%;
    }
  
    .boxModalRight {
        display: none;
        width: 20%;
        margin: 0 auto;
        background: rgba(87,87,87,0.45);
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 20px/10px;
        background-clip: padding-box;
        text-align: center;
        position: absolute;
        transform: rotate(150deg) translate(-49em) rotate(-150deg) translate(6em);
        height: 400px;
        overflow-y: auto;
        top: 65%;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .modal-header-content {
        position:absolute;
        top: 90px;
        left:0px;
        right:0px;
        bottom:0px;
        overflow-y:scroll;
        text-align: justify;
        padding: 20px;
        z-index: -1;
    }

    .modal-header-content {
        -ms-overflow-style: none;  /*IE 10*/
        overflow: -moz-scrollbars-none;  /*Firefox*/
    }

    .modal-header-content::-webkit-scrollbar {
        display: none;  /*Safari and Chrome*/
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
} 


@media only screen and (max-width: 768px) {
    
    #internalDiv {
        padding: 150px;
    }
    
    /**
    * Position icons into circle (SO)
    * http://stackoverflow.com/q/12813573/1397351
    */
    .circle-container {
        position: relative;
        width: 18em;
        height: 18em;
        border: dashed 1px;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    .circle-container a {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 50%; left: 50%;
        width: 3em; height: 3em;
        margin: -2em;
    }
    
    .circle-container img { display: block; width: 100%; }
    .deg0 { transform: translate(9.5em); }
    .deg36 { transform: rotate(36deg) translate(9.5em) rotate(-36deg); }
    .deg72 { transform: rotate(72deg) translate(9.5em) rotate(-72deg); }
    .deg108 { transform: rotate(108deg) translate(9.5em) rotate(-108deg); }
    .deg144 { transform: rotate(144deg) translate(9em) rotate(-144deg); }
    .deg180 { transform: translate(-8.5em); }
    .deg216 { transform: rotate(216deg) translate(8.5em) rotate(-216deg); }
    .deg252 { transform: rotate(252deg) translate(8.5em) rotate(-252deg); }
    .deg288 { transform: rotate(288deg) translate(8.5em) rotate(-288deg); }
    .deg324 { transform: rotate(324deg) translate(9em) rotate(-324deg); }
    
    /* this is just for showing the angle on hover */
    .circle-container a:not(.center):before {
        position: absolute;
        width: 4em;
        color: white;
        opacity: 0;
        background: rgba(0,0,0,.5);
        font: 1.25em/3.45 Courier, monospace;
        letter-spacing: 2px;
        text-decoration: none;
        text-indent: -2em;
        text-shadow: 0 0 .1em deeppink;
        transition: .7s; /* only works in Firefox */
        content: attr(class)'°';
    }
    .circle-container a:hover:before { opacity: 1; }
    
    /***********************************************/
    
    .boxModalLeft {
        display: none;
        width: 20%;
        margin: 0 auto;
        background: rgba(87,87,87,0.45);
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 20px/10px;
        background-clip: padding-box;
        text-align: center;
        position: absolute;
        transform: rotate(150deg) translate(-40em) rotate(-150deg) translate(-35em);
        height: 400px;
        overflow-y: auto;
        top: 55%;
    }
    
    .boxModalRight {
        display: none;
        width: 20%;
        margin: 0 auto;
        background: rgba(87,87,87,0.45);
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 20px/10px;
        background-clip: padding-box;
        text-align: center;
        position: absolute;
        transform: rotate(150deg) translate(-39em) rotate(-150deg) translate(1.8em);
        height: 400px;
        overflow-y: auto;
        top: 55%;
    }
    
    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }
    
    .modal-header-content {
        position:absolute;
        top: 115px;
        left:0px;
        right:0px;
        bottom:0px;
        overflow-y:scroll;
        text-align: justify;
        padding: 10px;
        z-index: -1;
    }
    
    .modal-header-content {
        -ms-overflow-style: none;  /*IE 10*/
        overflow: -moz-scrollbars-none;  /*Firefox*/
    }
    
    .modal-header-content::-webkit-scrollbar {
        display: none;  /*Safari and Chrome*/
    }
    
    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

/******************************************************************
PROPUESTA IPPA 01 - ENDS
********************************************************************/



/******************************************************************
PROPUESTA IPPA 02 - BEGINS
********************************************************************/

#internalDiv-prop02 {
    transform: translate(0, -16em);
}

/**
* Position icons into circle (SO)
* http://stackoverflow.com/q/12813573/1397351
*/
.circle-container-prop02 {
    position: relative;
    width: 30em;
    height: 30em;
    border: dashed 1px;
    border-radius: 50%;
    margin: 0 auto;
}

.circle-container-prop02 a {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}

.circle-container-prop02 img { display: block; width: 100%; }
.circle-container-prop02 .deg18 { transform: rotate(18deg) translate(15em) rotate(-18deg); }
.circle-container-prop02 .deg54 { transform: rotate(54deg) translate(15em) rotate(-54deg); }
.circle-container-prop02 .deg90 { transform: rotate(90deg) translate(15em) rotate(-90deg); }
.circle-container-prop02 .deg126 { transform: rotate(126deg) translate(15em) rotate(-126deg); }
.circle-container-prop02 .deg162 { transform: rotate(162deg) translate(15em) rotate(-162deg); }
.circle-container-prop02 .deg198 { transform: rotate(198deg) translate(15em) rotate(-198deg); }
.circle-container-prop02 .deg234 { transform: rotate(234deg) translate(15em) rotate(-234deg); }
.circle-container-prop02 .deg270 { transform: rotate(270deg) translate(15em) rotate(-270deg); }
.circle-container-prop02 .deg306 { transform: rotate(306deg) translate(15em) rotate(-306deg); }
.circle-container-prop02 .deg342 { transform: rotate(342deg) translate(15em) rotate(-342deg); }

/* this is just for showing the angle on hover */
.circle-container-prop02 a:not(.center):before {
    position: absolute;
    width: 4em;
    color: white;
    opacity: 0;
    background: rgba(0,0,0,.5);
    font: 1.25em/3.45 Courier, monospace;
    letter-spacing: 2px;
    text-decoration: none;
    text-indent: 1.5em;
    text-shadow: 0 0 .1em deeppink;
    transition: .7s; /* only works in Firefox */
    content: attr(itemprop);
}

.circle-container-prop02 a:hover:before { opacity: 1; }

.internalDiv2 {
    position:  inherit;
    width: auto;
    padding: 1em;
}

@media only screen and (max-width: 900px) {
    .myNewList {
        top: 30%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1024px) {
    .myNewList {
        top: 40%;
    }
}

@media only screen and (min-width: 1500px) {
    .myNewList {
        top: 40%;
    }
}

@media only screen and (min-height: 1500px) {
    .myNewList {
        top: 20%;
    }
}

.myNewList {
    list-style-type: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 450px;
    display: flex;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.myNewListItem {
    flex: 0 0 auto;
    width: 100vw;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative; 
}

/******************************************************************
PROPUESTA IPPA 02 - ENDS
********************************************************************/


/******************************************************************
PROPUESTA IMG 01 - BEGINS
********************************************************************/

.prop_01_img_table {
    background-color: white;
}

.prop_01_img {
    width: 100%
}

#prop_01_img_div {
    text-align: center;
}


/******************************************************************
PROPUESTA IMG 01 - ENDS
********************************************************************/

/******************************************************************
PROPUESTA IMG 02 - BEGINS
********************************************************************/

.prop_02_img_table {
    background-color: white;
}

.prop_02_img {
    width: 100%
}

#prop_02_img_div {
    text-align: center;
}

#prop_02_img_01 {
    position: relative;
}


/******************************************************************
PROPUESTA IMG 02 - ENDS
********************************************************************/


