

div {
    text-align: center;
}

img{
    width:85%;
}

#divForm {

    text-align: left;
}

/*
************************************************************************************************
TIPOS
************************************************************************************************
*/

/*
************************************************
HÁBITOS DE LAS MOSCAS
************************************************
*/

.div_habitos_moscas{
    padding: 15px;
}

.h1_habitos_moscas{
    font-family: Calibri;
    text-align:center;
}

table.table_habitos_moscas {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

table.table_habitos_moscas th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

table.table_habitos_moscas td, table.table_habitos_moscas th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 5px;
}

table.table_habitos_moscas tr:nth-child(odd) {
    background-color: #E9ECF5;
}

table.table_habitos_moscas tr:nth-child(even) {
    background-color: #D1D7E7;
}

table.table_habitos_moscas img {
    width:65%;
}


@media only screen and (max-width: 640px) {
	table.table_habitos_moscas {
        font-family: Calibri;
        font-size: 12px;
    }

    .h1_habitos_moscas{
        font-size: 20px;
    }
}

/*
************************************************
CICLO DE VIDA DE LAS MOSCAS
************************************************
*/

.h1_ciclo_vida_moscas{
    font-family: Calibri;
    text-align:center;
}

.div_ciclo_vida_moscas{
    text-align: center;
}

.div_ciclo_vida_moscas img{
    width:75%;
}

@media only screen and (max-width: 640px) {
    .h1_ciclo_vida_moscas{
        font-size: 20px;
    }
}

/*
************************************************
CARACTERÍSTICAS DEL CICLO DE VIDA DE LAS MOSCAS
************************************************
*/

.div_caracteristicas_ciclo_vida_moscas{
    padding: 15px;
}

.h1_caracteristicas_ciclo_vida_moscas{
    font-family: Calibri;
    text-align:center;
}

table.table_caracteristicas_ciclo_vida_moscas {
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
     padding-right:10px;
}

table.table_caracteristicas_ciclo_vida_moscas th {
    background: #4F81BC;
    color: #ffffff;
    font-weight: normal;
}

table.table_caracteristicas_ciclo_vida_moscas td, table.table_caracteristicas_ciclo_vida_moscas th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 5px;
}

table.table_caracteristicas_ciclo_vida_moscas tr:nth-child(odd) {
    background-color: #E9ECF5;
}

table.table_caracteristicas_ciclo_vida_moscas tr:nth-child(even) {
    background-color: #D1D7E7;
}

table.table_caracteristicas_ciclo_vida_moscas img {
    width:65%;
}

@media only screen and (max-width: 640px) {
	table.table_caracteristicas_ciclo_vida_moscas {
        font-family: Calibri;
        font-size: 12px;
    }

    .h1_caracteristicas_ciclo_vida_moscas{
        font-size: 20px;
    }
}


/***************************************
*********Styles for tables 5************
***************************************/

.th-groups th {
    background-color: rgba(0,0,0,0.07);
    border-right: 1px solid #fff;
    text-align: center;
}

@media screen and (max-width: 72em) {
    /* Style the first cell in a row in a dark bar */
    .table_caracteristicas_ciclo th:first-child {
        color: #fff;
        background-color: #555;
        font-size: 1.2em;
        padding: .3em .6em .3em .6em;
        -webkit-text-shadow: none;
        -moz-text-shadow: none;
        text-shadow: none;
    }
    
    /* Hide the label in the first cell */
    .table_caracteristicas_ciclo th:first-child .ui-table-cell-label {
        display: none;
    }
    
    /* Make the grouped header labels green */
    .ui-table-reflow th .ui-table-cell-label-top,
    .ui-table-reflow td .ui-table-cell-label-top {
        font-weight: bold;
        color: #319B47;
        font-size: 1.1em;
    }
}

/* Media query to show as a standard table at wider widths, must be very wide for this table */
@media screen and (min-width: 72em) {
    /* Show the table header rows */
    .table_caracteristicas_ciclo td,
    .table_caracteristicas_ciclo th,
    .table_caracteristicas_ciclo tbody th,
    .table_caracteristicas_ciclo tbody td,
    .table_caracteristicas_ciclo thead td,
    .table_caracteristicas_ciclo thead th {
        display: table-cell;
        margin: 0;
    }
    
    /* Hide the labels in each cell */
    .table_caracteristicas_ciclo td .ui-table-cell-label,
    .table_caracteristicas_ciclo th .ui-table-cell-label {
        display: none;
    }
}

/*
************************************************************************************************
PRODUCTOS BAYER
************************************************************************************************
*/

.bayer_product_main_name{
    color: #234D8A;
    font-weight: bold;
    font-size: 22px;
}

.bayer_product_main_name sup{
    font-size: 11px;
    font-style: italic;
}

.bayer_product_registry{
    font-size: 15px;
    font-weight: bold;
}

.bayer_product_property{
    font-style: italic;
}

.bayer_product_content_name{
    color: #234D8A;
    font-weight: bold;
}

.bayer_product_content_name sup{
    font-size: 10px;
    font-style: italic;
}

body, html {
    height: 100%;
    margin: 0px;
  }

.div_img_product_bayofly {
    position: relative;
    background-image: url("../../../images/moscas/productos.bayer/bayofly.png");
    background-position: center top;
    background-size: 100% 100%;
    padding-bottom:100%;
    background-repeat:no-repeat;
  }

.div_img_product_baycidal{
    position: relative;
    background-image: url("../../../images/moscas/productos.bayer/baycidal.png");
    background-position: center top;
    background-size: 100% 100%;
    padding-bottom:100%;
    background-repeat:no-repeat;
}

.div_img_product_rabon_97_3{
    position: relative;
    background-image: url("../../../images/moscas/productos.bayer/rabon.97.3.png");
    background-position: center top;
    background-size: 100% 100%;
    padding-bottom:100%;
    background-repeat:no-repeat;
}

.div_img_product_quickbayt{
    position: relative;
    background-image: url("../../../images/moscas/productos.bayer/quickbayt.png");
    background-position: center top;
    background-size: 100% 100%;
    padding-bottom:100%;
    background-repeat:no-repeat;
}

.div_img_product_milk_production{
    position: relative;
    background-image: url("../../../images/moscas/material.adicional/flies.milk.production.png");
    background-position: center top;
    background-size: 100% 100%;
    padding-bottom:100%;
    background-repeat:no-repeat;
}


/******************************************************************/

/*
#internalDiv {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}*/







@media only screen and (min-width: 1024px) {

    #internalDiv {
        padding: 80px;
    }

      /**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351 
 */
 .circle-container {
	position: relative;
	width: 30em;
	height: 30em;
	/*padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border: dashed 1px;
	border-radius: 50%;
    /*margin: 1.75em auto 0;*/
    margin: 0 auto;
}

.circle-container a {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em; /* 2em = 4em/2 */ /* half the width */
}

.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(15em); } /* 12em = half the width of the wrapper */
.deg36 { transform: rotate(36deg) translate(15em) rotate(-36deg); }
.deg72 { transform: rotate(72deg) translate(15em) rotate(-72deg); }
.deg108 { transform: rotate(108deg) translate(15em) rotate(-108deg); }
.deg144 { transform: rotate(144deg) translate(15em) rotate(-144deg); }
.deg180 { transform: translate(-15em); }
.deg216 { transform: rotate(216deg) translate(15em) rotate(-216deg); }
.deg252 { transform: rotate(252deg) translate(15em) rotate(-252deg); }
.deg288 { transform: rotate(288deg) translate(15em) rotate(-288deg); }
.deg324 { transform: rotate(324deg) translate(15em) rotate(-324deg); }

/* this is just for showing the angle on hover */

.circle-container a:not(.center):before {
	position: absolute;
	width: 4em;
	color: white;
	opacity: 0;
	background: rgba(0,0,0,.5);
	font: 1.25em/3.45 Courier, monospace;
	letter-spacing: 2px;
	text-decoration: none;
	text-indent: -2em;
	text-shadow: 0 0 .1em deeppink;
	transition: .7s; /* only works in Firefox */
	content: attr(class)'°';
}
.circle-container a:hover:before { opacity: 1; }


/***********************************************/


.boxModalLeft {
    display: none;
    width: 20%;
    margin: 0 auto;
    background: rgba(87,87,87,0.45);
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 20px/10px;
    background-clip: padding-box;
    text-align: center;
    position: absolute;
    transform: rotate(150deg) translate(-50em) rotate(-150deg) translate(-44em);
    height: 400px;
    overflow-y: auto;
    top: 65%;
  }

  .boxModalRight {
    display: none;
    width: 20%;
    margin: 0 auto;
    background: rgba(87,87,87,0.45);
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 20px/10px;
    background-clip: padding-box;
    text-align: center;
    position: absolute;
    transform: rotate(150deg) translate(-48em) rotate(-150deg) translate(35.5em);
    height: 400px;
    overflow-y: auto;
    top: 65%;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-header-content
{
    position:absolute;
    top: 90px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
    text-align: justify;
    padding: 20px;
    z-index: -1;
}

.modal-header-content {
    -ms-overflow-style: none;  /*IE 10*/
    overflow: -moz-scrollbars-none;  /*Firefox*/
}

.modal-header-content::-webkit-scrollbar { 
    display: none;  /*Safari and Chrome*/
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  




@media only screen and (max-width: 768px) {

    #internalDiv {
        padding: 150px;
    }
    
          /**
     * Position icons into circle (SO)
     * http://stackoverflow.com/q/12813573/1397351 
     */
     .circle-container {
        position: relative;
        width: 18em;
        height: 18em;
        /*padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
        border: dashed 1px;
        border-radius: 50%;
        /*margin: 1.75em auto 0;*/
        margin: 0 auto;
    }
    
    .circle-container a {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 50%; left: 50%;
        width: 3em; height: 3em;
        margin: -2em; /* 2em = 4em/2 */ /* half the width */
    }
    
    .circle-container img { display: block; width: 100%; }
    .deg0 { transform: translate(9.5em); } /* 12em = half the width of the wrapper */
    .deg36 { transform: rotate(36deg) translate(9.5em) rotate(-36deg); }
    .deg72 { transform: rotate(72deg) translate(9.5em) rotate(-72deg); }
    .deg108 { transform: rotate(108deg) translate(9.5em) rotate(-108deg); }
    .deg144 { transform: rotate(144deg) translate(9em) rotate(-144deg); }
    .deg180 { transform: translate(-8.5em); }
    .deg216 { transform: rotate(216deg) translate(8.5em) rotate(-216deg); }
    .deg252 { transform: rotate(252deg) translate(8.5em) rotate(-252deg); }
    .deg288 { transform: rotate(288deg) translate(8.5em) rotate(-288deg); }
    .deg324 { transform: rotate(324deg) translate(9em) rotate(-324deg); }
    
    /* this is just for showing the angle on hover */
    
    .circle-container a:not(.center):before {
        position: absolute;
        width: 4em;
        color: white;
        opacity: 0;
        background: rgba(0,0,0,.5);
        font: 1.25em/3.45 Courier, monospace;
        letter-spacing: 2px;
        text-decoration: none;
        text-indent: -2em;
        text-shadow: 0 0 .1em deeppink;
        transition: .7s; /* only works in Firefox */
        content: attr(class)'°';
    }
    .circle-container a:hover:before { opacity: 1; }
    
    
    /***********************************************/
    
    
    .boxModal {
        display: none;
        width: 20%;
        margin: 0 auto;
        background: rgba(87,87,87,0.45);
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 20px/10px;
        background-clip: padding-box;
        text-align: center;
        position: absolute;
        transform: rotate(150deg) translate(-50em) rotate(-150deg) translate(-44em);
        height: 400px;
        overflow-y: auto;
        top: 55%;
      }
    
      .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }
    
    .modal-header-content
    {
        position:absolute;
        top: 115px;
        left:0px;
        right:0px;
        bottom:0px;
        overflow-y:scroll;
        text-align: justify;
        padding: 10px;
        z-index: -1;
    }
    
    .modal-header-content {
        -ms-overflow-style: none;  /*IE 10*/
        overflow: -moz-scrollbars-none;  /*Firefox*/
    }
    
    .modal-header-content::-webkit-scrollbar { 
        display: none;  /*Safari and Chrome*/
    }
    
    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
      
      .button {
        font-size: 1em;
        padding: 10px;
        color: #fff;
        border: 2px solid #06D85E;
        border-radius: 20px/50px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
      }
      .button:hover {
        background: #06D85F;
      }
    
    
        
    }